.rule-severity-Minor:before,
.rule-severity-Major:before,
.rule-severity-Critical:before,
.rule-severity-Blocker:before {
    color: #FFBF00;
    content: '\f071';
}

.rule-severity-Info:before {
    color: lightblue;
    content: '\f05a';
}