header, main, footer {
    max-width: 100%;
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
}

header,
footer,
#sidebar{
    position: fixed;
    z-index: 100;
    background: rgb(243, 243, 243);
}
footer{
    bottom: 0;
    clear: both;
}

header {
    border-bottom: 1px solid #e6e6e6;
    min-width: 100%;
    max-width: 100%;
}

header nav {
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    border-bottom: 0;
    height: 39px;
}
nav a:hover {
    border-bottom: 0;
}


#sidebar
{
    font-size: 13px;
    width: 370px;
    float:left;
    top:40px;
    bottom:27px;
}

#sidebar:after{
    background-color: #ddd;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#content {
    margin-left: 370px;
    font-size: 14px;
    padding-top: 40px;
    background: rgb(250,250,250);
}
#content:after{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1px;
}

/*rule specific*/

#content h1 {
    margin: 0;
    font-size: 25px;
    line-height: 1.5;
}

#content h2 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}

#content pre {
    padding: 10px;
    border: 1px solid #e6e6e6;
    line-height: 18px;
    overflow: auto;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;
    margin: 1em 0;
    background-color: white;
}

#content code {
    font-weight: 600;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;
    line-height: 18px;
}

#content .rule-description {
    margin-top: 18px;
    margin-bottom: 40px;
}

#content .rule-meta .id {
    color: #777;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#content ul {
    padding-left: 40px;
    list-style: disc;
    margin: 1em 0;
}

#sidebar a{
    border-bottom: 0;
}

#sidebar > div  {
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px 0 5px;
    height: 100%;
}

#rule-menu li {
    position:relative;
    padding: 1px 5px;
}
#rule-menu li:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  /* right: 100%; */
  right: 0;
  width: 30px;
  background-image: linear-gradient(to right,rgba(243,243,243,0),#f3f3f3 75%);
}

#rule-menu-filter {
    white-space: normal;
    padding: 5px;
}

#rule-menu-filter > h3,
#rule-menu-filter li {
    display: inline-block;
}
#rule-menu-filter > h3 {
    padding-right: 5px;
}

#rule-menu-filter input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
#rule-menu-filter input+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding-left: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#rule-menu-filter input+label:before {
    content: '\f204';
    color: rgb(68, 68, 68);
    font-family: FontAwesome;
    margin: 0 4px 0 0;
    text-decoration: none;
}
#rule-menu-filter input:checked+label:before {
    content: '\f205';
}

.tags:before{
    content: '\f02c';
    font-family: FontAwesome;
    margin: 0 4px 0 0;
    text-decoration: none;
}
.tags{
    margin-right:12px;
}

.severity:before {
    font-family: FontAwesome;
    margin: 0 4px 0 0;
    text-decoration: none;
}
.rule-severity-0:before {
    color: white;
    content: '\f10c';
}
.rule-severity-1:before {
    color: #cae3f2;
    content: '\f05a';
}
.rule-severity-2:before {
    color: #FFBF00;
    content: '\f071';
}
.rule-severity-3:before {
    color: #d4333f;
    content: '\f057';
}


#rule-menu-header > h2 {
    padding: 10px 5px 5px 5px;
    font-size: 20px;
    display: inline-block;
}

#rule-menu-header > #rule-version {
    font-size: 11px;
}

#sidebar-resizer{
    background-color:#e6e6e6;
    height:100%;
    float: right;
    width: 5px;
    cursor: col-resize;
}

#content ul.release{
    padding-left: 0px;
}

.release-date,
.release-notes,
.release-download,
.release-goto-latest {
    padding-bottom: 4px;
    display: block;
}
.release-date:before,
.release-notes:before,
.release-download:before,
.release-goto-latest:before {
    content: '\f073';
    color: rgb(68, 68, 68);
    font-family: FontAwesome;
    margin: 0 4px 0 0;
    text-decoration: none;
}
.release-notes:before{
    content: '\f09b';
}
.release-download:before{
    content: '\f019';
}
.release-goto-latest:before{
    content: '\f071';
}


/*tab control*/

.tabs {
    position: relative;
    margin: 10px 0;
}
.tabs:after {
    content: " ";
    display: table;
    clear: both;
}
.tab {
  float: left;
}

.tab > label {
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid #e6e6e6;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
    width: 80px;
    text-align:center;
    background: white;
}
.tab > label:hover{
    background: #e6e6e6;
}
.tab:first-of-type > label {
  margin-left: 20px;
}
.tab > [type=radio] {
  display: none;
}
.tab-content {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  display: none;
}
.tab > [type=radio]:checked ~ label {
  background: rgb(243, 243, 243);
  border-bottom: 1px solid rgb(243, 243, 243);
  z-index: 2;
  cursor: default;
}

.tab > input[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
  display: block;
}

/*tab control - end */

@media (max-width: 1000px) {
    header, main, footer, #body, section.split, html, body {
        width: 1000px;
        margin: 0;
        overflow: initial;
        overflow: visible;
    }

    #sidebar {
        width: 250px;
    }
    #content {
        margin-left: 250px;
    }

    main{
        width: 1000px;
    }

    header nav {
        max-width: 100%;
        min-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    header nav {
        max-width: 600px;
        min-width: 600px;
        margin: 0 auto;
    }
}

