section.connected ul li {
    text-align: left;
    list-style: circle inside;
    margin-left: 10px;
}

section.connected img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.faq {
 border-bottom: 0px;
}

section.faq ul {
    text-align: left;
    counter-reset: item;
}

section.faq ul li { display: inline-block; }


section.faq ul li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}

img.center {
	display: block;
    margin-left: auto;
    margin-right: auto
}