section.connected ul li {
    text-align: left;
    list-style: circle inside;
    margin-left: 10px;
}

section.connected img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

img.center {
	display: block;
    margin-left: auto;
    margin-right: auto
}