header, main, footer {
    width: 100%;
    margin: 0 auto;
}

header:after {
    content: " ";
    display: table;
    clear: both;
}

#header {
    max-width: 1000px;
    margin: 50px auto 100px auto;
}


footer {
    margin-top: 40px;
}


.product-grid {
    max-width: 1000px;
    margin: 0 auto;
}

.product-grid:after {
  content: "";
  display: table;
  clear: both;
}

.product-grid > .col-1 {
    display: block;
    float: left;
    width: 25%;
    position: relative;
    color: #444;
    padding: 0 0 30px 0;
    background-color: white;
    border: 7px solid rgb(243, 243, 243);
    -webkit-box-shadow: inset 0px 0px 0px 1px #e6e6e6;
    -moz-box-shadow: inset 0px 0px 0px 1px #e6e6e6;
    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
}
.product-grid > .col-1:hover {
    border: 7px solid #449DD2;
}

.product-grid > .col-1:last-of-type {
    padding-right: 0;
}

.product-grid > .col-1 > h2 {
    text-align: center;
    padding: 30px 0;
    background-color: #e6e6e6;
}

.product-grid .tool-logo {
    height: 200px;
    width: 200px;
    margin: 20px auto;
    display: block;
}

@media (max-width: 740px) {
    .product-grid .tool-logo {
        height: 150px;
        width: 150px;
    }
    .product-grid > .col-1 > h2 {
        padding: 10px 0;
    }
    .product-grid > .col-1 > h2 {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    #header {
        margin: 10px auto 30px auto;
    }
    header .logo{
        max-width:100%;
    }
    header .logo img {
        max-width: 100%;
    }
    .header-content h1 {
        padding: 0 0 15px 0;
    }
    .header-content {
        padding-top: 15px;
    }
    .product-grid .tool-logo {
        height: 130px;
        width: 130px;
        margin: 20px auto 0 auto;
    }
}

@media (max-width: 450px) {
    .product-grid > .col-1 {
        float: none;
        width: 100%;
    }
    .product-grid .tool-logo {
        height: 150px;
        width: 150px;
    }
}
